@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-accent: 19deg 97% 62%;

        --shadow-color: 19deg 2% 65%;

        --border-level-1: 19deg 2% 98%;
        --border-level-2: 19deg 2% 90%;
        --border-level-3: 19deg 2% 80%;
        --border-level-4: 19deg 2% 70%;


        --color-base: 19deg 2% 88%;
        --color-level-1: 19deg 2% 91%;
        --color-level-2: 19deg 2% 95%;
        --color-level-3: 19deg 2% 98%;
        --color-level-4: 19deg 2% 100%;


        --text-level-1: 19deg 2% 8%;
        --text-level-2: 19deg 2% 24%;
        --text-level-3: 19deg 2% 44%;
        --text-level-4: 19deg 2% 50%;


    }
    @media (prefers-color-scheme: dark) {
        :root {
            --color-accent: 19deg 97% 62%;

            --border-level-1: 19deg 2% 18%;
            --border-level-2: 19deg 2% 20%;
            --border-level-3: 19deg 2% 25%;
            --border-level-4: 19deg 2% 38%;

            --shadow-color: 19deg 2% 0%;

            --color-base: 19deg 2% 9%;

            --color-level-1: 19deg 2% 13%;
            --color-level-2: 19deg 2% 15%;
            --color-level-3: 19deg 2% 20%;
            --color-level-4: 19deg 2% 28%;

            --text-level-1: 19deg 2% 92%;
            --text-level-2: 19deg 2% 76%;
            --text-level-3: 19deg 2% 56%;
            --text-level-4: 19deg 2% 50%;


        }
    }
}

@layer components {
    /* .shadow-level-1 {
        box-shadow: '0.3px 0.5px 0.7px hsl(var(--color-base) / 0.34), 0.4px 0.8px 1px - 1.2px hsl(var(--color-base) / 0.34), 1px 2px 2.5px - 2.5px hsl(var(--color-base) / 0.34)',
    }
    .shadow-level-2 {
        box-shadow: '0.3px 0.5px 0.7px hsl(var(--color-base) / 0.36), 0.8px 1.6px 2px - 0.8px hsl(var(--color-base) / 0.36), 2.1px 4.1px 5.2px - 1.7px hsl(var(--color-base) / 0.36), 5px 10px 12.6px - 2.5px hsl(var(--shadow - color) / 0.36)',
    }
    .shadow-level-3 {
        box-shadow: '0.3px 0.5px 0.7px hsl(var(--color-base) / 0.34), 1.5px 2.9px 3.7px - 0.4px hsl(var(--color-base) / 0.34), 2.7px 5.4px 6.8px - 0.7px hsl(var(--color-base) / 0.34), 4 .5 px 8. 9px 11.2px - 1.1px hsl(var(--color-base) / 0.34),7.1px 14.3px 18px - 1.4px hsl(var(--color-base) / 0.34),11.2px 22.3px 28.1px - 1.8px hsl(var(--color-base) / 0.34),17px 33.9px 42.7px - 2.1px hsl(var(--color-base) / 0.34),25px 50px 62.9px - 2.5px hsl(var(--color-base) / 0.34)',
    } */
}
